body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

header h1 {
  text-align: center;
}

section {
  text-align: center;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.color:nth-child( 1 ) {
  background-color: black;
}

.color:nth-child( 2 ) {
  background-color: blueviolet;
}

.color:nth-child( 3 ) {
  background-color: brown;
}

.color:nth-child( 4 ) {
  background-color: cadetblue;
}

#pixel-board {
  margin: auto;
  width: 210px;
  height: 210px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  float: left;
  background-color: white;
  cursor: pointer;
}

#clear-board {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  height: 60px;
  padding: 20px;
  background-color: #ccc;
  text-align: center;
  margin-top: 20px;
}

#frames {
  margin-top: 20px;
}

#frames > div {
  margin: 5px;
  display: inline-block;
}

#frames div div {
  width: 5px;
  height: 5px;
  float: left;
  border: none;
  cursor: none;
}

#play {
  display: none;
}

#reset {
  display: none;
}